<h2 class="my-4 text-center">Lista de Residentes</h2>

<div class="d-flex justify-content-end mb-3">
  <a href="/residentes/new" class="btn btn-primary">Agregar nuevo</a>
</div>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Género</th>
      <th>Contacto</th>
      <th>Dirección</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% residentes.forEach(r => { %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.nombre %></td>
        <td><%= r.apellido %></td>
        <td><%= r.genero %></td>
        <td><%= r.contacto %></td>
        <td><%= r.direccion %></td>
        <td><%= r.estado %></td>
        <td>
          <a href="/residentes/editar/<%= r._id %>" class="btn btn-sm btn-warning">Editar</a>
          <form action="/residentes/eliminar/<%= r._id %>" method="POST" class="d-inline">
            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
